{
  "protocol_version":"4",
  "integration":{
    "name":"com.pyrotechnics.nri-sensors",
    "version":"0.1.0"
  },
  "data":[
    {
      "entity":{
        "name":"sensors:{{hostname}}",
        "type":"temperature",
        "displayName":"LmSensors",
        "metadata":{
            "releaseHash": "{{release}}"
        }
      },
      "metrics":[
        {% for sample in samples -%}
        {
          "name":"sensors.temperature.{{sample.chip | snake_case}}",
          "type":"count",
          "value":{{sample.temperature}}, 
          "attributes":{}
        },
        {% endfor -%}
        {
            "name": "sensors.temperature.invocation",
            "type": "count",
            "value": {{samples | length}},
            "attributes": {}
        }
      ],
      "inventory":{},
      "events":[]
    }
  ]
}