{
    "name": "com.newrelic.nri-sensors",
    "protocol_version": "3",
    "integration_version": "0.0.1",
    "data": [
        {
            "metrics": [
                {% for sample in samples -%}
                {
                    "event_type": "{{sample.chip}}",
                    "temp": "{{sample.temperature}}",
                    "integration_name": "com.newrelic.nri-sensors",
                    "integration_version": "0.0.1"
                },
                {% endfor -%}
                {
                    "event_type": "lmsensors",
                    "temper.Hostname": "{{hostname}}",
                    "temper.releaseHash": "{{release}}"
                }
            ],
            "inventory": {},
            "events": []
        }
    ]
}