{
    "protocol_version":"3",
    "name":"com.pyrotechnics.nri-sensors",
    "integration_version":"0.0.1",
    "data": [
        {
            "metrics": [
                {% for sample in samples -%}
                {
                    "integration_name": "com.pyrotechnics.nri-sensors",
                    "integration_version": "0.0.1",
                    "event_type": "lmsensors",
                    "device": "{{sample.chip | snake_case}}",
                    "temp": "{{sample.temperature}}"
                },
                {% endfor -%}
                {
                    "event_type": "lmsensorsStatus",
                    "lmsensors.Hostname": "{{hostname}}",
                    "lmsensors.releaseHash": "{{release}}",
                    "lmsensors.sample_count": {{samples | length}}
                }
            ],
            "inventory": {},
            "events": []
        }
    ]
}